<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Phreebie LLC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style type="text/css">
        p{
            color: black;
            font-family: 'Quattrocento', serif;
            font-size:16px;
        }

        h1{
            color: black;
            font-family: 'Quattrocento', serif;
            font-size:30px;
            text-shadow: black 0.1em 0.1em 0.2em;
        }

        h2{
            color: black;
            font-size:50px;
        }

        h3{
            font-family: 'Quattrocento', serif;
        }

        h4{
            font-family: 'Quattrocento', serif;
        }
    </style>
</head>
<body>

    {% load staticfiles %}
<div class="row">
    <div class="col-md-2"><img src='{% static "cv/code.jpg" %}' alt="Ilya Juhnowski" height="120"/></div>

      <div class="col-md-6"><h1 align="center">Ilya A. Yukhnovskiy<br>(Juhnowski)</h1></div>
    <div class="col-md-4">  <p><b>
    <br>E-mail: juhnowski@gmail.com<br>
    Cell: +7-902-7-800-8007<br>
    Skype: iyukhnov<br>
    Location: Nizhniy Novgorod, Russia</b>
  </p></div>
</div>
<div class="row">
    <div class="col-md-12">
    <h2 align="center">INFORMATION TECHNOLOGY DIRECTOR</h2>
    </div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><b>Spearheading Business-Centric IT Roadmaps & Global Enterprise Growth Strategies</b><a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
      </div>
      <div class="panel-body">
        <i><b>Trusted Business Partner - Executive Collaborator - IT Team Mentor - Architectures Leader</b></i>
      </div>
    </div>
</div>
<div class="col-md-1"></div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<b>Rising technology executive noted for cutting millions in IT and driving business innovation</b>, leveraging
innovation security, applications, networking, operations, and risk management leadership to accelerate business growth and
gain competitive edge. Multiplatform enterprise security, compliance, data center, and business transformation expertise.
</div>
<div class="col-md-1"></div>
</div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">

            <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">An exceptional IT Director, with a drive and passion for perfection...<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
      </div>
      <div class="panel-body">
        <i><b>"Ilya is able to look at the big picture from
        a strategic viewpoint</b></i> and can be counted on
          to render a forthright assessment of any situation."
          - CEO, Shield LLC
      </div>
    </div>

        </div>
    <div class="col-md-5" align="right">

    <i><b><br>Enterprise Architecture Strategy - Cloud Architectures - SaaS, IaaS, PaaS<br>
SAN - Cost Control - BI - Vendor Negotiations - ERP - ITIL, COBIT, ISO <br>
IT Roadmaps - Enterprise Help Desk & Databases - Team-Building<br>
Governance - Network & IT Application Operations - Data Warehousing<br>
Risk Assessment - PCI DSS, SOX, GLBA, FISMA, OWASP - IT Budgets <br>
Failover Solutions - Dashboard Systems - Ticketing Systems
</b></i>
</div>
<div class="col-md-1"></div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><b>Technology Leadership Benchmarks & Career Progression</b><a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
      </div>
      <div class="panel-body">
        <i><b>IT Director - IT Manager - Specialist of Marketing Department - Senior Software Developer - Software & Operations Engineer </b></i><br>
        Phreebie LLC - CII Burevestnik - Folio-auto - Samsung - Kyocera Mobile - Nortel Networks - Forus Bank- Motorola Italy - Motorola Russia - Bank Petrocommerce - Shield LLC - OKBM
      </div>
    </div>
</div>
<div class="col-md-1"></div>
</div>

<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><b>Professional History</b><a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
      </div>
      <div class="panel-body">

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">03/2013 - 04/2015</span>
                <b>Phreebie LLC</b> - IT Director<br>
                <ul>
                    <li>
                        Oversaw following projects:
                        <ul>
                            <li>study of functional programming languages ​​(Haskell, Scala, Erlang) and prototype development of functional declarative language based on the formalism of Bertrand Russell and language games L.Wittgenstein.</li>
                            <li>diagnostic system to detect and prevent failures of complex systems , probabilistic safety analysis</li>
                            <li>automated information system for internet service providers (federal laws 139,187,398)</li>
                        </ul>
                    </li>
                    <li>
                        Completed projects in operation:
                        <ul>
                            <li>An automated system for micro-credit (profile, credit bureaus, mutual information partnership, proprietary databases, tracking the credit for the entire life cycle)</li>
                            <li>B2B information system for cargo carriers</li>
                            <li>Online marketing resource for horses theme</li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>


          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">03/2011 - 10/2013</span>
                <b>Folio-auto</b> - Head of IT department<br>
                <ul>
                    <li>
                        Project management in several ways:
                        <ul>
                            <li>
                                Development of online games
                            </li>
                            <li>
                                Robotic complex
                            </li>
                            <li>
                                Monitoring data in a complex system of man-machine
                            </li>
                            <li>
                                Development of a monitoring system of fast processes
                            </li>
                        </ul>
                    </li>
                    <li>
                        Architecture SaaS, IaaS, PaaS
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">06/2011 - 03/2012</span>
                <b>Odacon LLC</b> - IT Director<br>
                <ul>
                    <li>
                        Development of scientific library for calculation of ballistics C, C ++, GSL
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">01/2011 - 07/2011</span>
                <b>Samsung</b> - Senior Project Lead<br>
                <ul>
                    <li>
                        Project management in CDMA Mobile Department:
                        <ul>
                            <li>
                                Project management (Linux Core, Android, Nvidia drivers)
                            </li>
                            <li>
                                Team Leading
                            </li>
                            <li>
                                Risk management
                            </li>
                        </ul>
                    </li>
                    <li>
                        Project management in Verizon cooperation:
                        <ul>
                            <li>Requirements management</li>
                            <li>Android customization</li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">05/2010 - 01/2011</span>
                <b>Kyocera</b> - Senior Project Lead<br>
                <ul>
                    <li>
                        Contour
                    </li>
                    <li>
                         FrameworkView
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">02/2010 - 05/2010</span>
                <b>Nortel Network</b> - Senior Project Lead<br>
                <ul>
                    <li>
                        Project management of demo app for new version Call Center app
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">11/2007 - 05/2010</span>
                <b>J&K Softlabs</b> - IT Director<br>
                <ul>
                    <li>
                        Project management of Front Office:
                        <ul>
                            <li>
                                ERP
                            </li>
                            <li>
                                J2EE
                            </li>
                            <li>
                                Networking
                            </li>
                            <li>
                                Security
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">07/2003 - 11/2007</span>
                <b>Motorola</b> - Specialist of Marketing Department Turin, Senior Software Developer<br>
                <ul>
                    <li>
                        Vodafon Customisation:
                        <ul>
                            <li>J2ME Screen Saver </li>
                            <li>J2ME Vodafone Extension Framework</li>
                        </ul>

                    </li>
                    <li>
                        TIM Customisation:
                        <ul>
                            <li>Turbo Call - music content distribution</li>
                            <li>DRM</li>
                        </ul>
                    </li>
                    <li>
                        Motorola Mobile Development
                        <ul>
                            <li>J2ME Multimedia Player API</li>
                            <li>J2ME SyncML API </li>
                            <li>J2ME Push to X </li>
                            <li>MSRP</li>
                            <li>Aplex JVM</li>
                            <li>P2k</li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">08/2001 - 06/2003</span>
                <b>Nizhegorodskiy State Technical University</b> - Post graduate school<br>
                Investigations of the Probability Safety Analyses Methodology.
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">09/1995 - 08/2001</span>
                <b>Nizhegorodskiy State Technical University</b> - graduate school<br>
                Master of engineering and technology in the direction of the Department of Technical Physics Nuclear Reactors and Power Installations.
            </li>
          </ul>
      </div>
    </div>

----------------------------------------------------------------
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><b>Part-time Work History</b><a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
      </div>
      <div class="panel-body">

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">10/2013 - ...</span>
                <b>CII Burevestnik</b> - Technical Consultant<br>
                <ul>
                    <li>
                        Consult the following questions:
                        <ul>
                            <li>
                                OOA/OOD embedded fire control system
                            </li>
                            <li>
                                GPU usage in high load calculations in mathematical tasks
                            </li>
                            <li>
                                Linux Security customisation
                            </li>
                            <li>
                                Linux Networking customisation
                            </li>
                            <li>
                                Ethernet Power Link usage
                            </li>
                            <li>
                                Software Development process and project management
                            </li>
                        </ul>
                    </li>
                    <li>
                        Consulting in Requirements Management
                    </li>
                    <li>
                        Consulting in Risk Management
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">10/2013 - 02/2014</span>
                <b>Folio-auto</b> - IT Consultant<br>
                <ul>
                    <li>
                        Architecture SaaS, IaaS, PaaS
                    </li>
                    <li>
                        HR Department Consulting in IT
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">07/2011 - 02/2012</span>
                <b>CII Burevestnik</b> - Senior Software Developer<br>
                <ul>
                    <li>
                        Development of scientific library for calculation of ballistics C, C ++, GSL
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">10/2007 - 02/2009</span>
                <b>ACETP Ltd</b> - Project Manager<br>
                Development workflow system for the Federal Antimonopoly Service C # MSSQL.
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">10/2007 - 02/2009</span>
                <b>Forus Bank</b> - Project Manager<br>
                <ul>
                    <li>
                        Project management of Front Office:
                        <ul>
                            <li>
                                ERP
                            </li>
                            <li>
                                J2EE
                            </li>
                            <li>
                                Networking
                            </li>
                            <li>
                                Security
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">08/2001 - 07/2003</span>
                <b>Bank Petrocommerce</b> - Senior Specialis<br>
                <ul>
                    <li>ABS support RS-Bank</li>
                    <li>Client-bank Diasoft</li>
                    <li>Design and development of specialized software</li>
                    <li>Start the credit cards in the branch</li>
                </ul>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">08/2001 - 07/2003</span>
                <b>Shield LLC</b> - Project Manager<br>
Design, development , contracting , installation and commissioning of several generations of access control to the enterprise and video surveillance systems . Developed product is set to private and state-owned enterprises of Nizhny Novgorod , Kirov , Chuvash , Vladimir, Moscow region.
            </li>
          </ul>

                    <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">08/2001 - 07/2003</span>
                <b>JSC «Afrikantov OKBM»</b> - IT specialist<br>
                Development of a program of probabilistic safety analysis.
            </li>
          </ul>

      </div>
    </div>

</div>
<div class="col-md-1"></div>
</div>

</body>
</html>